html, body {
	width: 100%;
	height: 100%;
	font-family: 'PT Sans', sans-serif;
}

#menuBar {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #3e3e3e;
	height: 66px;
	border: none;
	margin-bottom: 0;
}

#menuBar .navbar-toggle {
	margin: 16px 0 0 15px;
	float: left;
}

#menuBar .navbar-toggle:hover, #menuBar .navbar-toggle:focus {
	background-color: #3e3e3e;
}

#menuBar ul {
	list-style: none;
	height: 100%;
	margin: 0 auto;
}

#menuBar ul.menu {
	width: 60%;
}

#menuBar ul.sharingMenu {
	position: absolute;
	right: 0;
	top: 0;
}

#menuBar ul li {
	line-height: 66px;
	float: left;
}

#menuBar ul.menu li {
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
	width: 15%;
}

#menuBar ul.sharingMenu li {
	margin-right: 22px;
}

#menuBar ul.menu li:last-child {
	width: 40%;
}

#menuBar ul.menu li a {
	color: #FFFFFF;
}

section {
	width: 100%;
	height: 100%;
}

section .contentMiddle {
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 66px
}

section#home {
	background: url(../images/home-background.jpg) no-repeat center top;
	background-size: cover;
}

section#home .wrapper {
	width: 100%;
	height: 100%;
}

section#home .wrapper img {
	margin: 0 auto;
}

section#about {
	background: url(../images/about-background.jpg) no-repeat center top;
	background-size: cover;
	display: table;
}

section#about h2 {
	text-align: center;
	font-size: 69px;
	margin: 0 0 20px 0;
}

section#about p {
	text-align: center;
	font-size: 30px;
	margin: 0;
}

section#about img {
	margin: 30px auto 0 auto;
}

section#shop {
	background: url(../images/shop-background.jpg);
	display: table;
}

section#shop .shopButton {
	margin: 0 auto;
}

section#gallery {
	background: url(../images/gallery-background.jpg);
	display: table;
}

section#gallery h2 {
	text-align: center;
	font-size: 69px;
	margin: 0 0 40px 0;
	color: #FFFFFF;
}

section#gallery .categories {
	margin-bottom: 50px;
}

section#gallery .categories ul {
	list-style: none;
	width: 485px;
	margin: 0 auto;
}

section#gallery .categories ul li {
	float: left;	
	height: 32px;
	line-height: 32px;
	background: #FFFFFF;
	border-left: 3px solid #00caa2;
	margin-right: 12px;
}

section#gallery .categories ul li a {
	color: #000000;
	font-size: 16px;
	padding: 0 15px;
}

section#gallery .categories ul li a:hover {
	text-decoration: none;
}

section#gallery .images ul {
	list-style: none;
	width: 60%;
	margin: 0 auto;
}

section#gallery .images ul li {
	float: left;
	background: #a9a9a9;
	width: 20%;
	height: 0;
	margin-right: 5%;
	padding-bottom: 20%;
	margin-bottom: 30px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

section#gallery .images ul li a {
	display: block;
	width: 100%;
	height: 100%;
	padding-bottom: 100%;
}

section#lifestyle {
	background: url(../images/lifestyle-background.jpg) no-repeat center top;
	background-size: cover;
}

section#contact {
	background: url(../images/contact-background.jpg);
	display: table;
}

section#contact h2 {
	text-align: center;
	font-size: 69px;
	margin: 0 0 20px 0;
}

section#contact p.introText {
	font-size: 16px;
	color: #adadad;
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

section#contact form {
	margin-top: 30px;	
}

section#contact form fieldset > div.pull-left, section#contact form fieldset > div.pull-right {
	width: 45%;
}

section#contact form input, section#contact form textarea {
	color: #929292;
	font-family: Tahoma,Geneva,Kalimati,sans-serif;
	font-size: 16px;
	padding: 0 20px;
}
section#contact form input:focus, section#contact form textarea:focus {
	outline: none;
  	box-shadow:none !important;
}

section#contact form input {
	width: 100%;
	height: 52px;
	border: 1px solid #e7e7e7;
}

section#contact form textarea {
	width: 100%;
	height: 156px;
	border: 1px solid #e7e7e7;
	padding-top: 10px;
}

section#contact form .actions {
	float:right;
	margin-top: 20px;
	width: 100%;
}

section#contact form .actions .error, section#contact form .actions .success {
	display: none;
	float: right;
	font-family: Tahoma,Geneva,Kalimati,sans-serif;
	font-size: 16px;
	line-height: 32px;
	margin: 0 15px 0 0;
}

section#contact form .actions .error {
	color: #ca0000;
}

section#contact form .actions .success {
	color: #00caa2;
}
	
section#contact form button[type="reset"], section#contact form button[type="submit"] {
	display:block;
	float: right;
	border: none;
	padding: 6px 24px;	
}

section#contact form button[type="reset"] {
	background: #000000;
	color: #FFFFFF;
	margin-right: 10px;
}

section#contact form button[type="submit"] {
	background: #00caa2;
	color: #326b5c;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	section#lifestyle {
		background-position: -523px;	
	}
	
	#menuBar .navbar-collapse {
		position: absolute;
		top: -199px;
		background-color: rgb(62, 62, 62);
		width: 100%;
		padding: 0px;
	}
	
	#menuBar ul.menu {
		width: 100%;
		padding: 0;
	}
	
	#menuBar ul.menu li {
		float: none;
		width: 100%;
		line-height: 40px;
		border-bottom: 1px solid #ccc;
		font-size: 12px;
	}
	
	#menuBar ul.menu li:last-child {
		width: 100%;
	}
}